body { 
    margin-top: 1cm; 
    margin-bottom: 1cm;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    font-family: sans-serif;
}

hr
{
	display: none;
}

h2 {
    margin-left: -1cm;
    border-bottom: solid 1pt black;
}
