body {
	margin-top: 0.5in;
	margin-left: 0.5in;
	width: 6in;
	font-size: 10pt;
}

h1 {
    color: #3b6a00;
    font-family: 'HoeflerText-Regular', 'Hoefler Text';
    font-size: 24.00pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.21;
    margin-bottom: 0.000000pt;
    margin-left: 0.00pt;
    margin-right: 0.00pt;
    margin-top: 0.000000pt;
    padding-bottom: 0.000000pt;
    padding-top: 0.000000pt;
    text-decoration: none;
    text-indent: 0.00pt;
    text-transform: none;
    vertical-align: 0.000000em;
}

h2 {
    color: #e44a00;
    font-family: 'HoeflerText-Regular', 'Hoefler Text';
    font-size: 16.00pt;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.19;
    margin-bottom: 0.000000pt;
    margin-left: 0.00pt;
    margin-right: 0.00pt;
    margin-top: 0.000000pt;
    padding-bottom: 3.000000pt;
    padding-top: 6.000000pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0.00pt;
    text-transform: none;
    vertical-align: 0.000000em;
}

img {
	border: 0px;
}
